<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
    <header id="header">
        <div id="contacto">
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank">facebook <img src="../img/facebook.png" alt=""></a></li>
                <li><a href="https://twitter.com/" target="_blank">twitter<img src="../img/gorjeo.png" alt=""></a></li>
                <li><a href="https://www.instagram.com/" target="_blank">instagram <img src="../img/instagram.png" alt=""></a></li>
                <li><a href="https://www.tiktok.com/es/" target="_blank">tik tok <img src="../img/tik-tok.png" alt=""></a></li>
                <li><a href="https://www.youtube.com/" target="_blank">youtube <img src="../img/youtube.png" alt=""></a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank">whatsapp <img src="../img/whatsapp.png" alt=""></a></li>
            </ul>
        </div>
        
        <div id="redes_sociales" >
            <div id="slider">
                <ul>
                    <li><img src="../img/redes-facebook.png" alt=""></li>
                    <li><img src="../img/redes-twitter.jpg" alt=""></li>
                    <li><img src="../img/redes-instagram.png" alt=""></li>
                    <li><img src="../img/redes-tiktok.jpg" alt=""></li>
                    <li><img src="../img/redes-youtube.webp" alt=""></li>
                    <li><img src="../img/redes-whatsapp.jpeg" alt=""></li>
                </ul>
            </div>
            <div id="div_header2_2">
                <h2>REDES</h2>
                <h1>SOCIALES</h1>
            </div>
        </div><br><br>
        <div id="formulario">
            <fieldset>
                <label for="nombre" class="mensaje label">Nombre</label>
                <input type="text" class="mensaje input" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                <label for="apellido" class="mensaje label">Apellidos</label>
                <input type="text" class="mensaje input" id="apellido" name="apellido" placeholder="Ingrese el apellido">
                <label for="mail" class="mensaje label">Mail</label>
                <input type="text" class="mensaje input" id="mail" name="mail" placeholder="@gmail.com">
                <label for="textarea" class="mensaje label">Mensaje</label>
                <textarea name="texto" class="mensaje" id="textarea" cols="30" rows="9"></textarea>
                <button class="mensaje boton">ENVIAR</button>
            </fieldset>
        </div>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="./navegar.html">Comprar</a></li>
            <li><a href="./quienSoy.html">Quien soy</a></li>
            <li><a href="./fotos.html">Fotos</a></li>
            <!--<li><a href="contacto.html">Contacto</a></li>-->
        </ul>
    </nav>
   
</body>
</html>