<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fotos</title>
    <link rel="stylesheet" href="../css/fotos.css" />
  </head>
  <body>
    <div id="contenedor">
      <header id="header">
        <div id="imagen_contenedor1">
          <div id="imagen_contenedor2">
            <img src="../img/uñas1.png" alt="" class="imagenes" />
            <img src="../img/uñas2.jpg" alt="" class="imagenes" />
            <img src="../img/uñas3.jpg" alt="" class="imagenes" />
            <img src="../img/uñas4.jpg" alt="" class="imagenes" />
            <img src="../img/uñas5.jpg" alt="" class="imagenes" />
            <img src="../img/uñas6.jpg" alt="" class="imagenes" />
            <img src="../img/uñas7.jpg" alt="" class="imagenes" />
            <img src="../img/uñas8.jpg" alt="" class="imagenes" />
            <img src="../img/uñas9.jpg" alt="" class="imagenes" />
          </div>
        </div>
      </header>
      <nav id="nav">
        <ul>
          <li><a href="./navegar.html">Comprar</a></li>
          <li><a href="./quienSoy.html">Quien soy</a></li>
         <!-- <li><a href="fotos.html">Fotos</a></li>-->
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
    
  </body>
</html>
